# Written by deploy-phase13.ps1 — copy to phone-b:~/phone-lab/mesh.content.env
# CONTENT_PHONE=phone-a means boot-stack-phone-b skips local content
CONTENT_PHONE=phone-a
CONTENT_IP=100.120.187.10
CONTENT_PORT=4004
